@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100;400&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#sec1 {
    background: url(bg-hero-desktop.svg) no-repeat center center / cover  hsl(193, 100%, 96%);
}

header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    
}


.btn {
    display: flex;
    justify-content: left;
    text-align: center;
    
}

.nav-btn {
    padding: 10px;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background: white;
    color: hsl(192, 100%, 9%);
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px hsl(190, 2%, 48%);
}

#build {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.bl-cum {
    margin-top: 50px;
    max-width: 40%;
}

#build h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}


.btn .bl-btn {
    height: 40px;
    width: 300px;
    padding: 10px;
    background: hsl(322, 100%, 66%);
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.ill-img {
    max-width: 50%;
}

.ill-img img {
    width: 450px;
    height: 450px;
}

#sec2 {
    justify-content: center;
    padding: 40px 100px;
} 

.grow {
    border: none;
    border-radius: 5px;
    padding: 60px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    box-shadow: 2px 1px 2px 1px hsl(190, 2%, 48%);
}

.grow img {
    width: 300px;
    height: 300px;
}

#sec2 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#sec3 {
    display: flex;
    border: none;
    text-align: center;
    justify-content: center;
    background: none;
}

.ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-bottom: -50px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 1px hsl(190, 2%, 48%);

}

#sec3 h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}


#sec3 .btn {
    display: flex;
    justify-content: center;
    text-align: center;
    
}



footer {
    background: hsl(192, 100%, 9%);
    margin: 0;
    padding-top: 250px;
    padding: 100px 60px;
    padding-bottom: 1px;
}

.foot {
    display: flex;
    justify-content: space-between;
}

.foot p {
    color: white;
    margin: 20px;
    max-width: 400px;
    font-size: 14px;
}
.foot img {
    color: white;
}

.con1 {
    display: flex;
    justify-content: space-between;
}

.con1 i {
    color: white;
    margin-top: 20px;
    margin-right: 0;
}

.con1  {
    justify-content: left;
    text-align: left;
}

.us {
    cursor: pointer;
    flex-direction: column;
    margin-top: 10px;

}

.us a {
    margin-bottom: 20px;
}

.right {
    margin: 0;
    display: flex;
    justify-content: right;
    text-align: right;
}

.right h6 {
    color: white;
}

.social-Handles, .us {
    padding-top: 0px;
}



 .social-Handles {
    display: flex;
    padding: auto;
    margin-top: 30px;
}

.social-Handles div:not(:last-child){
    margin-right: 10px;
}

.social-Handles a {
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 1176px) {
    #build h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 1024px) {
    #build h1 {
        font-size: 20px;
    }

    .ill-img img {
        width: 400px;
        height: 400px;
    }

    #sec2 {
        padding: 40px 60px;
    } 

    .foot-p {
        max-width: 35%;
    }
}



@media screen and (max-width: 768px) {
    header img {
        padding-bottom: 0;
        width: 100px;
    }

    
     P {
        font-size: 12px;
    }


    .ill-img img {
        width: 300px;
        height: 300px;
    }

    #build .btn {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .ill-img img {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .btn .bl-btn {
        width: 150px;
        color: white;
        margin-bottom: 20px;
    }

    .grow img {
        width: 200px;
        height: 200px;
    }

    .grow h1 {
        font-size: 16px;
    }

    #sec2 {
        padding: 40px 50px;
    } 

    footer {
        padding-top: 250px;
        padding: 100px 40px;
        padding-bottom: 1px;
    }

    .foot p {
        font-size: 12px;
    }

    .us p {
        cursor: pointer;
    }



}


@media screen and (max-width: 570px) {
    .ill-img img {
        margin: auto;
        width: 230px;
        height: 230px;
    }

    #build h1 {
        font-size: 15px;
    }

    #sec2 {
        padding: 40px 20px;
    } 
}


@media screen and (max-width: 425px) {
    #build {
        padding-top: 0;
        margin: 0;
    }

    .bl-cum {
        padding-top: 0;
        margin-top: 0;
        max-width: 100%;
    }
    
    #build h1 {
        font-size: 20px;
    }

    .ill-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 0;

    }

    
    .ill-img img {
        margin: auto;
        width: 200px;
        height: 200px;
    }


    #build {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #sec2 {
        padding: 40px 30px;
    } 

    .grow {
        flex-direction: column-reverse;
        text-align: center;
        padding: 30px;
    }

    .grow h1 {
        font-size: 10px;
    }
    

    #bl-cum2 {
        flex-direction: column;
    }

    #sec3 h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }

    footer {
        padding-top: 250px;
        padding: 100px 20px;
        padding-bottom: 1px;
    }
    .foot {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .foot-p {
        max-width: 100%;
    }

    .foot p {
    color: white;
    margin: 15px;
    max-width: 400px;
    font-size: 12px;
}

.us {
    padding: 0PX;
    margin: 0px;

}

    .social-Handles {
        display: flex;
        justify-content: center;
    }

    .right {
        margin: 0px;
        padding: 0px;
        justify-content: center;
        text-align: center;
    }

    
}

@media screen and (max-width: 300px) {
    .grow img {
        width: 100px;
        height: 100px;
    }
}
